@import "../../../styles.scss";

mat-toolbar {
  background-color: $primary;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	height: 2rem;
	padding: 2.5rem 6rem;

	.logo {
		a {
			text-decoration: none;
			color: #fff;
			h1 {
			}
		}
	}

	.nav {
		a {
			font-size: 1.1rem;
			text-decoration: none;
			color: #fff;
			margin: 0 0.5rem;
			padding: 0.4rem 1rem;
			border: 2px solid #fff;
			border-radius: 0.3rem;
		}
	}
}
